@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,800);
	*{padding:0;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:greyscale;font-family:'Open Sans', sans-serif; font-weight:600; color:#333;}
	span.courier
	{
		font-family: "Courier New";
		font-size: 17px;
		padding: 3px 7px;
		margin: -3px 0px -3px -1px;
		border-radius:5px;
		background:rgba(0,0,0,.03);
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.05) inset;
		cursor: text;
	}
	ul.social
	{
		margin: 50px 100px;
	}
	ul.social li
	{
		display: inline-block;
		margin-right: 10px;
	}
		ul.social li a
		{
			width: 140px;
			height: 50px;
			line-height: 50px;
			font-size: 14px;
			color: #fff;
			border-radius: 25px;
			background: #ed1a5e;
			text-decoration: none;
			display: inherit;
			text-align: center;
			-webkit-animation: button 300s linear infinite;
			-moz-animation: button 300s linear infinite;
			-o-animation: button 300s linear infinite;
			-ms-animation: button 300s linear infinite;
			animation: button 300s linear infinite;
		}ul.social li a:active
		{
			-webkit-transform: scale(0.98);
		}
	p
	{
		margin: 0 100px;
		font-size: 16px;
		line-height: 34px;
		cursor: default;
	}
	p a
	{
		-webkit-animation: text 300s linear infinite;
		-moz-animation: text 300s linear infinite;
		-o-animation: text 300s linear infinite;
		-ms-animation: text 300s linear infinite;
		animation: text 300s linear infinite;
	}
	svg{width:320px;margin: 100px 100px 30px;fill:#ed1a5e;-webkit-animation: svg 300s linear infinite;overflow:visible;}
		svg path.st0:nth-of-type(even)
		{
			-webkit-transform:translateY(2px);
			-moz-transform:translateY(2px);
			-o-transform:translateY(2px);
			-ms-transform:translateY(2px);
			transform:translateY(2px);
			-webkit-animation: animA 10s linear infinite;
			-moz-animation: animA 10s linear infinite;
			-o-animation: animA 10s linear infinite;
			-ms-animation: animA 10s linear infinite;
			animation: animA 10s linear infinite;
		}
		svg path.st0:nth-of-type(odd)
		{
			-webkit-transform:translateY(-2px);
			-moz-transform:translateY(-2px);
			-o-transform:translateY(-2px);
			-ms-transform:translateY(-2px);
			transform:translateY(-2px);
			-webkit-animation: animB 10s linear infinite;
			-moz-animation: animB 10s linear infinite;
			-o-animation: animB 10s linear infinite;
			-ms-animation: animB 10s linear infinite;
			animation: animB 10s linear infinite;
		}
	h2
	{
		-webkit-animation: text 300s linear infinite;
		-moz-animation: text 300s linear infinite;
		-o-animation: text 300s linear infinite;
		-ms-animation: text 300s linear infinite;
		animation: text 300s linear infinite;
		margin: 30px 100px 10px;
		font-weight: 800;
		font-size: 24px;
		cursor: default;
	}
	ul.online-players
	{
		margin: 0 100px;
		line-height: 32px;
		text-indent: 36px;
		font-size: 16px;
		cursor: default; 
	}
	ul.online-players li
	{
		list-style: none;
		padding: 4px;
		background-size: 24px 24px;
		background-position: 8px 8px;
		background-repeat: no-repeat;
		border-radius: 4px;
		width: 400px;
	}
		ul.online-players li:nth-child(even)
		{
			background-color: rgb(245,245,245);
		}
	.grijs
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiWLlyJUCAAQAD+gH8ppFh6wAAAABJRU5ErkJggg==');
  color: #a9a9a9;
}

.online
{
	padding: 3px 7px;
	margin: -3px 0px -3px -1px;
	color: #fff;
	background-color: rgb(0,200,0);
	border-radius:5px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.05) inset;
}
.offline
{
	padding: 3px 7px;
	margin: -3px 0px -3px -1px;
	color: #fff;
	background-color: rgb(200,40,0);
	border-radius:5px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.05) inset;
}